body{
	background-image:url(images/background-pattern.png);
	background-position:center top;
}

div{
	outline:1px red solid;
}

.container{
	min-height:700px;
	padding-top:10px;
	width:1000px;
}

.header{
	min-height:150px;
	width:240px;
}

.logo{
	height:66px;
	width:81px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.logo-text h1{
	font: 60px "Fredericka the Great", sans-serif
}

.logo-text p{
	font-family: 'Fredericka the Great';
}


.content-container{
	min-height:560px;
	margin-top:50px;
	padding-top:1px;
}

.content{
	outline:none !important;
	margin-top:10px;
	height:460px;
	width:470px;
	border:3px dashed red;
	-webkit-border-radius:240px;
	position:relative;
	padding-top:1px;
}

.content > div{
	min-height:59px;
	width:59px;
	background-color:#FF9393;
	opacity:.7;
	-webkit-border-radius:35px;
	position:absolute;
	z-index:99
}

.content .home{
	top:200px;
	left:-30px;

}

.content .about{
	top:80px;
	left:5px;
}

.content .contact{
	bottom:80px;
	left:5px;
}


.content .service{
	top:80px;
	right:5px;

}

.content .work{
	bottom:80px;
	right:5px;

}

.content .pic{
	position:static !important;
	width:300px;
	height:300px;
	-webkit-border-radius:150px;
	margin-top:80px;
}

.footer-container{
	min-height:48px;
	outline-color:green;
	background-color:#333;
}

.footer{
	width:1000px;
	min-height:48px;
}

.footer .copy-right{
	min-height:inherit;
}

.footer .social{
	min-height:inherit;
	outline-color:blue;
}