body{
	background-image:url(images/background-pattern.png);
	background-position:center top;
}

div{
	/*outline:1px red solid;*/
}

.container{
	min-height:700px;
	padding-top:10px;
	width:1000px;
}

.header{
	min-height:100px;
}

.logo{
	height:66px;
	width:81px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.logo-text{
	outline-color:green;
}

.logo-text h1{
	font-size: 48px; 
	font-family:"Fredericka the Great", sans-serif;
	font-variant:small-caps;
	text-align:center;
	color:#EEE;
}

.logo-text p{
	font-family:"Comic Sans MS", cursive;
	text-align:center;
	font-size:14px;
	color:#777;
}


.content-container{
	min-height:610px;
	margin-top:50px;
	padding-top:1px;
	position:relative;
	overflow:hidden;
}

.content-container .about-page,.contact-page,.service-page,.work-page{
	position:absolute;
	height:604px;
	width:604px;
	border-radius:302px;
	-webkit-border-radius:302px;
	-moz-border-radius:302px;
	-o-border-radius:302px;
	-ms-border-radius:302px;
	right:-720px;
	z-index:20;
}

.content-container .about-page{
	background-color:#060;
}

.content-container .contact-page{
	background-color:#30C;
}

.content-container .service-page{
	background-color:blue;
}

.content-container .work-page{
	background-color:darkmagenta;
}

.content{
	outline:none !important;
	margin-top:50px;
	margin-left:250px;
	margin-right:250px;
	height:460px;
	width:470px;
	border:2px dashed #3B3B3B;
	border-radius:240px;
	-webkit-border-radius:240px;
	-moz-border-radius:240px;
	-o-border-radius:240px;
	-ms-border-radius:240px;
	position:relative;
	padding-top:1px;
}

.content > div{
	min-height:59px;
	width:59px;
	border-radius:35px;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	-ms-border-radius:35px;
	position:absolute;
	z-index:10;
	background-repeat:no-repeat;
	background-position:center top;
	cursor:pointer;
}

.content .home{
	min-height:31px !important;
	width:31px !important;
	top:210px;
	left:-18px;
	background-image:url(images/back-button.png);
	display:none;
}

.content .about{
	top:80px;
	left:5px;
	background-image:url(images/menu-button-0.png);
	-webkit-transition:all 150ms ease-in;
}

.content .about:hover{
	-webkit-transform:scale(.65,.65);
	-webkit-transition:all 250ms cubic-bezier(.05,.92,.74,.4);
}

.content .contact{
	bottom:80px;
	left:5px;
	background-image:url(images/menu-button-3.png);
}


.content .service{
	top:80px;
	right:5px;
	background-image:url(images/menu-button-2.png);
}

.content .work{
	bottom:80px;
	right:5px;
	background-image:url(images/menu-button-1.png);
}

.content .pic{
	position:static !important;
	cursor:auto !important;
	width:300px;
	height:300px;
	border-radius:150px;
	-webkit-border-radius:150px;
	-moz-border-radius:150px;
	-o-border-radius:150px;
	-ms-border-radius:150px;
	margin-top:80px;
	background-color:#FFCACA;
}

.footer-container{
	min-height:48px;
	outline-color:green;
	background-image:url(images/background-footer.png);
}

.footer{
	width:1000px;
	min-height:48px;
	padding-top:5px;
}

.footer .copy-right{
	min-height:inherit;
	
}

.footer .social{
	min-height:inherit;
	outline-color:blue;
}

.footer .social > div{
	cursor:pointer;
	height:35px;
	background-repeat:no-repeat;
	background-position:center top;	
}

/*.social .twitter:after{
	background-image:url(images/page-1-img-2.png);		
}
*/
.social .twitter{
	width:35px;
	background-image:url(images/social-button-1.png);
}

.social .plus{
	width:35px;
	background-image:url(images/social-button-3.png);

}

.social .facebook{
	height:35px;
	margin-left:40px;
	margin-right:40px;
	background-image:url(images/social-button-2.png);
}
