body{
	background-image:url(images/background-pattern.png);
	background-position:center top;
}

div{
	/*outline:1px red solid;*/
}

::selection
{
	background-color:#D54500;
	color:#3CFFFF;
}
::-moz-selection
{
	background-color:#D54500;
	color:#3CFFFF;
}

.container{
	min-height:700px;
	padding-top:10px;
	width:1000px;
}

.header{
	min-height:100px;
}

.logo{
	height:66px;
	width:81px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.logo-text{
	outline-color:green;
}

.logo-text h1{
	font-size: 48px; 
	font-family:"Fredericka the Great", sans-serif;
	font-variant:small-caps;
	text-align:center;
	color:#EEE;
}

.logo-text p{
	font-family: 'Sniglet', cursive;
	text-align:center;
	font-size:16px;
	color:#777;
}


.content-container{
	min-height:610px;
	margin-top:50px;
	padding-top:1px;
	position:relative;
	overflow:hidden;
}

.content-container .about-page,.contact-page,.service-page,.work-page{
	position:absolute;
	height:604px;
	width:604px;
	border-radius:302px;
	-webkit-border-radius:302px;
	-moz-border-radius:302px;
	-o-border-radius:302px;
	-ms-border-radius:302px;
	right:-720px;
	z-index:20;
}

.content-container .about-page{
	background-image:url(images/contact-back.gif);
	line-height:200%;
}

.about-page h1{
	font-family:"Fredericka the Great", sans-serif;
	font-size:24px;
	text-align:center;
	margin-top:50px;
	color:#CCC;
	font-variant:small-caps;
}

.about-page h3{
	font-family: 'Sniglet', cursive;
	font-size:17;
	text-align:center;
	padding-top:10px;
	color:#AAA;
}

.about-page p{
	text-align:center;
	color:#FFF;
	padding:30px;
}

.link{
	text-decoration:none;
	color:#CCC;
}

.content-container .contact-page{
	background-color: #313131;
	background-image:url(images/contact-back.gif);
}

.contact-page h1{
	font-family:"Fredericka the Great", sans-serif;
	font-size:24px;
	color:#DDD;
	text-align:center;
	margin-top:20px;
}

.contact-page form{
	margin-top:80px; 
}

.contact-page input[type=text]{
	background-color:#161616;
	border:1px solid #2B2B2B;
	padding:5px;
	width:308px;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	display:block;
	-webkit-transition:all ease-out 500ms;
}

.contact-page input[type=submit]{
	background-color:#161616;
	border:1px solid #2B2B2B;
	padding:5px;
	width:108px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	display:block;
	-webkit-transition:all ease-out 500ms;
}


.contact-page textarea{
	background-color:#161616;
	border:1px solid #2B2B2B;
	resize:none;
	margin-left:142px;
	margin-top:20px;
	-webkit-transition:all ease-out 500ms;
}

.contact-page input[type=text].ok{
	border-color: #008400;
	color:#008400;
}

.contact-page input[type=text].nok{
	border:1px solid #900;
	color:#900;
}

.contact-page textarea.ok{
	border-color: #008400;
	color:#008400;
}

.contact-page textarea.nok{
	border:1px solid #900;
	color:#900;
}

.content-container .service-page{
	background-color:blue;
}

.content-container .work-page{
	background-color:darkmagenta;
}

.content{
	outline:none !important;
	margin-top:50px;
	margin-left:250px;
	margin-right:250px;
	height:460px;
	width:470px;
	border:2px dashed #3B3B3B;
	border-radius:240px;
	-webkit-border-radius:240px;
	-moz-border-radius:240px;
	-o-border-radius:240px;
	-ms-border-radius:240px;
	position:relative;
	padding-top:1px;
	
}

.content > div{
	min-height:59px;
	width:59px;
	border-radius:35px;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	-ms-border-radius:35px;
	position:absolute;
	z-index:10;
	background-repeat:no-repeat;
	background-position:center top;
	cursor:pointer;
	transition:all 150ms ease-in;
	-webkit-transition:all 150ms ease-in;
	-moz-transition:all 150ms ease-in;
	-o-transition:all 150ms ease-in;
	-ms-transition:all 150ms ease-in;
}

.content > div:hover{
	transform:scale(.65,.65);
	transition:all 250ms cubic-bezier(.05,.92,.74,.4);
	-webkit-transform:scale(.65,.65);
	-webkit-transition:all 250ms cubic-bezier(.05,.92,.74,.4);
	-moz-transform:scale(.65,.65);
	-moz-transition:all 250ms cubic-bezier(.05,.92,.74,.4);
	-o-transform:scale(.65,.65);
	-o-transition:all 250ms cubic-bezier(.05,.92,.74,.4);
	-ms-transform:scale(.65,.65);
	-ms-transition:all 250ms cubic-bezier(.05,.92,.74,.4);
}

.content .home{
	min-height:31px !important;
	width:31px !important;
	top:210px;
	left:-18px;
	background-image:url(images/back-button.png);
	opacity:0;
	cursor:auto;
}

.content .about{
	top:80px;
	left:5px;
	background-image:url(images/menu-button-0.png);
	
}


.content .contact{
	bottom:72px;
	left:5px;
	background-image:url(images/menu-button-3.png);
}


.content .service{
	top:80px;
	right:5px;
	background-image:url(images/menu-button-2.png);
}

.content .work{
	bottom:80px;
	right:5px;
	background-image:url(images/menu-button-1.png);
}

.content .pic{
	position:static !important;
	cursor:auto !important;
	width:300px;
	height:300px;
	border-radius:150px;
	-webkit-border-radius:150px;
	-moz-border-radius:150px;
	-o-border-radius:150px;
	-ms-border-radius:150px;
	margin-top:80px;
	background-color:#FFCACA;
}

.content .pic:hover{
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
	-o-transform:scale(1,1);
	-ms-transform:scale(1,1);
}

.content > div > div{
	border:1px dashed;
	height:0px;
	width:0px;
	position:absolute;
	top:28px;
	right:0;
	left:28px;
	bottom:0;
	border-radius:50%;
	-webkit-transition:all 400ms cubic-bezier(.05,.92,.74,.4);
	z-index:-15;
}

.content > div > .about-ci{
	border-color:rgb(206,85,0);
}

.content > div > .contact-ci{
	border-color:#004000;
}

.content > div > .service-ci{
	border-color:rgb(31,140,172);
}

.content > div > .work-ci{
	border-color:rgb(204,4,4);
}


.content > div:hover >div{
	height:100px;
	width:100px;
	display:block;
	-webkit-transition:all 400ms cubic-bezier(.05,.92,.74,.4);
	top:-23px;
	right:0;
	left:-22px;
	bottom:0;border:2px #808080 dashed;
}

.footer-container{
	outline-color:green;
	background-image:url(images/background-footer.png);
}

.footer{
	width:1000px;
	min-height:48px;
	padding-top:5px;
}

.footer .copy-right{
	min-height:inherit;
	margin-top:8px;
}

.footer .copy-right h4{
	font-family:"Courier New", Courier, monospace;
	color:#FFF;
	font-size:10px;
}

.footer .copy-right a{
	text-decoration:none;
	color:#800;
	-webkit-transition:color 1500ms;
}

.footer .copy-right a:hover{
	text-decoration:underline;
	color:#C00;
}

.footer .social{
	min-height:inherit;
	outline-color:blue;
}

.footer .social > a div{
	cursor:pointer;
	height:35px;
	background-repeat:no-repeat;
	background-position:center top;
}

.footer .social > a div:active{
	background-position:center bottom;
}

.social .twitter{
	width:35px;
	background-image:url(images/social-button-1.png);
}

.social .plus{
	width:35px;
	background-image:url(images/social-button-3.png);
}

.social .facebook{
	margin-left:58px;
	margin-right:58px;
	background-image:url(images/social-button-2.png);
	background-position:center top;
}
